APP_NAME=ZedProxyBot
ENV=production
BOT_TOKEN=
MAIN_ADMIN_ID=
DATABASE_URL=postgresql+psycopg://zedproxy:zedproxy@db:5432/zedproxy
REDIS_URL=redis://redis:6379/0
JWT_SECRET=change-me
JWT_EXPIRE_MINUTES=120
WEB_BASE_URL=
ADMIN_PATH=/admin
API_PATH=/api
BOT_WEBHOOK_PATH=/bot/webhook
DOMAIN=
SSL_ENABLED=false
REPORT_GROUP_CHAT_ID=
REPORT_GROUP_ENABLED=false
CARD_NUMBER=
CARD_HOLDER=
K2K_ENABLED=false
FORCE_JOIN_ENABLED=false
FORCE_PHONE_ENABLED=false
